<input style="margin-bottom: 10px;" (keyup.enter)="createPost(title)" #title type="text" class="form-control">

<ul class="list-group">
    <li *ngFor="let post of posts" class="list-group-item">
        <button style="margin-right: 5px;" type="button" (click)="updatePost(post)" class="btn btn-primary btn-sm">Update</button>
        <button type="button" style="background-color: red;" (click)="deletePost(post)" class="btn btn-primary btn-sm">Delete</button>
        {{ post.title }}
    </li>
</ul>